body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.robot-container {
  display: flex;
  justify-content: center;
}

.color-box {
  display: inline;
  float: left;
}

input {
  margin-left: 5px;
}

h4 label {
  margin: 5px;
}

@media screen and (max-width: 500px) {
  .robot-container {
    flex-direction: column;
    height: auto;
  }
}
